@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Blakc.ttf');
	font-weight: 400;
}
html,
body {
    min-height: 100%;
    height: 100%;
}
body {
	font-family: Lato, sans-serif;
	color: #4a4a4a;
}
.default-navbar {
	/*background: linear-gradient(to left, #d82e89, #d42f69);
   */
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	padding: 15px 5%;
}
.default-navbar .nav-link {
	color: #1a1a1a;
}
.default-navbar .navbar-brand {
	color: #1a1a1a;
}
/*.section-blue {
    background: linear-gradient(135deg, #65e9be 10%, #10a0d0);
    background-repeat: no-repeat;
    padding: 12em 1em;
    color: #fff;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}
*/

.section-blue {
	min-height: 700px;
	color: #fff;
	background-color: #1aa9df;
	background: linear-gradient(40deg, #3f41414a, #1aa9dfa6), url('../gisel-jac.jpg');
	background-position: center 20%;
	padding-top: 15rem;
	padding-bottom: 12rem;
	text-align: center;
	clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
	background-size: cover;
	background-attachment: fixed;
}
.section-blue h1 {
	font-size: 40px;
}
.section-blue h2 {
	font-size: 30px;
}
.custom-container {
	margin-top: 5%;
	margin-left: 10px;
	margin-right: 10px;
}
.custom-container hr,
.contact-us-section hr,
.offices-section hr {
	width: 5%;
	border-top: 1px solid #11a8da;
}
.column-design {
	/*border: 1px solid #ccc;
   */
	color: #4a4a4a;
	padding: 20px 20px;
}
.custom-heading {
	text-align: center;
}
.middle-row {
	text-align: center;
}
.lower-row {
	margin-top: 15px;
}
.contact-us-section {
	margin-top: 12em;
	margin-bottom: 12em;
	outline: none;
}
.contact-us-section p {
	text-align: center;
}
.contact-form input {
	border-radius: unset;
	outline: none;
}

.contact-us-section .contact-form select {
	border-radius: unset;
	margin-top: 15px;
}
.contact-form textarea {
	border-radius: unset;
}
.contact-form {
	margin-top: 50px;
	margin-bottom: 50px;
}
.contact-form textarea
{

	margin-top: 14px;
	resize: none;
}

.contact-form select
{
    margin-top: 0;
}
.contact-form .btn-submit {
	margin-top: 15px;
	float: right;
	width: 184px;
	color: #fff;
	padding: 5px 15px;
	background: linear-gradient(40deg, #2e92d8, #30d4de);
	border: none;
	border-radius: unset;
	letter-spacing: 1px;
}
/* icons */

.icon {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	width: 100px;
}
/* button */

.btn-default {
	background: transparent;
	border: 1px solid #fff;
	color: #fff;
}
/* our offices */

.offices-section {
	background-color: #f5f8fd;
	padding-top: 4em;
	padding-bottom: 10em;
}
.offices-wrap {
	text-align: center;
	margin-top: 45px;
	padding-left: 45px;
	padding-right: 45px;
}
/* offices heading */

.offices-wrap h4 {
	margin-top: 15px;
	font-size: 20px;
}
/* footer */

.footer {
	min-height: 200px;
	background-color: #1a1a1a;
}
/* media queries */

@media(max-width: 768px) {
	.nav-link {
		text-align: right;
		padding: 15px;
	}
	.navbar-toggler {
		border: none;
	}
	.custom-container {
		margin-top: 10%;
		margin-left: 15px;
		margin-right: 15px;
		text-align: center;
	}
	.contact-us-section {
		margin-left: 15px;
		margin-right: 15px;
	}
	.contact-us-section input {
		margin-bottom: 12px;
	}
	.custom-heading {
		font-size: 25px;
	}
	.display-4 {
		font-size: 28px;
	}
}